.jumbotron {background-color: lightsalmon;font-family: 'Pacifico', cursive;}
.container {background-color: lightgrey;rotateX(45deg);font-family: 'Playfair Display', serif;}
#content {margin: .5em;}
#logo {padding-bottom: 30px;}
body { 
  margin: 0; 
  /*color: white;*/
  /*font-size: 20pt;*/
}
canvas { 
  width: 100vw; 
  height: 100vh; 
  z-index: -1; 
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
}
.para-text {
	padding: 30px;
}